#!/bin/sh

set -e

DEFAULT_FILE="/etc/default/minissdpd"

. /usr/share/debconf/confmodule

read_config () {
	sed -rn '
s|^\s*'"${2}"'='\''([^'\'']+)'\''\s*$|\1|g
t hold
s|^\s*'"${2}"'='\"'([^'\"']+)'\"'\s*$|\1|g
t hold
s|^\s*'"${2}"'=(\S+)\s*$|\1|
t hold
b
: hold
p
	' "${1}"
}


if [ -r "${DEFAULT_FILE}" ] ; then
	. "${DEFAULT_FILE}"
fi

# fetch anything in debconf
db_get minissdpd/start_daemon
if [ "$RET" = 'true' ] ; then
	START_DAEMON=1
else
	START_DAEMON=0
fi

db_get minissdpd/listen
if [ -n "$RET" ] ; then
	MiniSSDPd_INTERFACE_ADDRESS="$RET"
fi

if [ "${MiniSSDPd_INTERFACE_ADDRESS}" = "0.0.0.0" ] ; then
	MiniSSDPd_INTERFACE_ADDRESS=
fi

if [ -z "${MiniSSDPd_INTERFACE_ADDRESS}" ] ; then
	# If no interface is defined, try to find one automatically
	if which ifconfig > /dev/null ; then
		MiniSSDPd_INTERFACE_ADDRESS=$(LC_ALL=C ifconfig | grep 'UP,BROADCAST' | cut -d: -f1 | tr '\n' ' ' | sed 's/ *$//')
	else
		if [ -r /proc/net/route ] ; then
			awk '{ print $1 }' /proc/net/route | grep -v Iface | sort -u | tr '\n' ' '
		fi
	fi
fi

db_set minissdpd/listen "${MiniSSDPd_INTERFACE_ADDRESS}"

if [ -z "$2" -a -n "${MiniSSDPd_INTERFACE_ADDRESS}" ] ; then
	# fresh installation - enable it
	START_DAEMON=1
fi

if [ "${START_DAEMON}" = 1 ] ; then
	db_set minissdpd/start_daemon true
else
	db_set minissdpd/start_daemon false
fi

if [ -n "$2" ] && dpkg --compare-versions "$2" lt 1.5.20180223-5 ; then
	if [ -z "${MiniSSDPd_INTERFACE_ADDRESS}" ] ; then
		db_input high minissdpd/why_I_am_here || true
	fi
fi
db_input high minissdpd/start_daemon || true
db_input high minissdpd/listen || true
db_input low minissdpd/ip6 || true
db_go

exit 0
